@import "~@flaticon/flaticon-uicons/css/solid/all";

@font-face {
  font-family: "Francisco";
  src: url("https://yulnmo.github.io//assets/fonts/Francisco.woff");
}

html {
  font: 14px arial;
  background: #5D555640;
}

body {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

#root {
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
}

.main {
  max-width: 480px;
  position: relative;
  background: white;
  width: 100%;

  background: linear-gradient(90deg, white 9px, transparent 1%) center, linear-gradient(white 9px, transparent 1%) center, #e8e8e8ff;
  background-size: 10px 10px;
}

.main .intro {
  position: relative;
  margin: 0;
  padding: 0;
  height: 530px;
  overflow: hidden;
}

.main .intro .image {
  width: 100%;
}

.main .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* background: linear-gradient(0deg, white 0%, #ffffff80 5%, transparent 10%); */
}

.main .border {
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;

}

.main .context .abstract {
  margin: 3rem 0 6rem 0;
}

.main .header .abstract {

  display: flex;
  flex-direction: column;
  justify-content: start;

  margin: 3rem 0 2rem 0;
}

.main .header .abstract .mark {
  font-size: 0.4rem;
  letter-spacing: 0.2rem;
  color: #000000a0;
  margin: 0 0 0.5rem 0;
}

.main .header .abstract .who {
  font-size: 1rem;
  color: #000000a0;
}

.main .header .abstract .who .line {
  margin: 0 1.1rem;
  width: 1px;
  padding: 0.35rem 0;
}

.main .header .abstract .who .line .stroke {
  width: 0.01rem;
  height: 100%;
  background: #00000070;
}

.main .abstract div {
  display: flex;
  justify-content: center;
}

.main .context .abstract .who {
  color: #000000ff;
  font-size: 2rem;
  margin: 0 0 1rem 0;

  font-family: "Francisco", "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;  
}

.main .context .abstract .when, .context .main .abstract .where {
  color: #000000ff;
  font-size: 1rem;
  padding: 0.2rem 0;
}

.main .context .abstract .where {
  margin: 0 0 2rem 0;
}

.main .context {
  text-align: center;
  padding: 0 3rem 3rem 3rem;
}

.image-intro {
  height: 40vmin;
  pointer-events: none;
}

.category {
  font-size: 1.4rem;
  font-weight: 400;
  background: -webkit-linear-gradient(left, #B08E82, #E5CACC);
  background: -o-linear-gradient(right, #B08E82, #E5CACC);
  background: -moz-linear-gradient(right, #B08E82, #E5CACC);
  background: linear-gradient(to right, #B08E82, #E5CACC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;  

  margin: 3rem 0 3rem 0;
}

.quote {
  display: none;
  margin: 6rem 0 3rem 0;
  color: #00000090;
  font-style: italic;
}

.invitation {
  margin: 0 0 6rem 0;
}

.invitation .reference {
  margin: 3rem 0 0 0;
}

.bridge-image {
  width: 100%;
  overflow: hidden;
  margin: 3rem 0 3rem 0;
}

.bridge-image img {
  width: 100%;
}

.parents {
  display: flex;
  justify-content: center;
  margin: 0 0 6rem 0;
  font-size: 1.05rem;
}

.parents table {
  text-align: left;
}

.parents table tr td {
  padding: 0.4em 0.6em;
}

.parents small {
  margin: 0 0.3em;
}

.gallery .category {
  margin: 3rem 0 2rem 0;
}

.photo {
  position: relative;
  margin: 0 -3rem 6rem -3rem;
  overflow: hidden;
  height: 37rem;
}

.photo .scrollable {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.photo .scrollable::-webkit-scrollbar {
  display: none;
}

.photo .photo-row {
  display: flex;
  width: 180rem;
}

.photo .item {
  flex: 1 1;
  
  overflow: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  padding: 0.3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo .item::-webkit-scrollbar {
  display: none;
}

.photo .item img {
  width: 100%;
  border-radius: 0.4rem;
}


.button {
  margin: 0 0 3rem 0;
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: 0 -3rem 6rem -3rem;
  padding: 3rem;


  background: -webkit-linear-gradient(90deg, white, #B08E8218 5%, #B08E8218 95%, white);
  background: -o-linear-gradient(90deg, white, #B08E8218 5%, #B08E8218 95%, white);
  background: -moz-linear-gradient(90deg, white, #B08E8218 5%, #B08E8218 95%, white);
  background: linear-gradient(0deg, white, #B08E8218 10%, #B08E8218 90%, white);
}

.calendar .row {
  display: flex;
  width: 90%;
  margin: auto;
}

.calendar .row .item {
  flex: 1 1;
  font-size: 1rem;
}

.calendar .row .item.weekdays {
  color: #000000a0;
  height: 2rem;
}

.calendar .row .item.weekdays.sun {
  color: #B08E82e0;
}

.calendar .row .item.weekdays.sat {
  color: #B08E82e0;
}

.calendar .row .item.date {
  color: #000000a0;
  height: 2rem;
  display: flex;
  justify-content: center;
}

.calendar .row .item.date div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar .row .item.date.sun {
  color: #B08E82e0;
}

.calendar .row .item.date.sat {
  color: #B08E82e0;
}

.calendar .row .item.date .target {
  color: #ffffffff;
  background: #B08E82e0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar .row .item.left-days {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar .row .item.left-days .heart {
  color: #C16767e0;
}

.calendar .row .item .highlight {
  color: #C16767e0;
  font-weight: 600;
  
}

.calendar .row .item.title {
  text-align: center;

  font-size: 1.35rem;
  font-weight: 400;
  color: #000000a0;

  margin: 2rem 0 0.3rem 0;
}

.calendar .row .item.subtitle {
  text-align: center;

  font-size: 1rem;
  color: #000000a0;

  margin: 0 0 3rem 0;
}

.address {
  margin: 0 0 2rem 0;
}

.address .contents {
  line-height: 1rem;
}

.location .category {
  margin: 3rem 0 3rem 0;
}

.maps {
  margin: 0 0 3rem 0;
}

.maps .map {
  width: 100%;
  aspect-ratio: calc(4/3);
}

.maps .map-simple {
  width: 100%;
  aspect-ratio: calc(4/3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.maps .map-simple img {
  width: 100%;
}

.maps .controls {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 0 0 1rem 0;
}

.maps .links {
  display: flex;
  width: 100%;
  background: white;
  border: 1px solid #00000010;
  border-radius: 0.3rem;
}

.maps .links .link {
  display: flex;
  flex: 1 1;
  padding: 0.7rem 0.8rem;
  font-size: 0.875rem;
}

.maps .links .link .image {
  margin: 0 0.5rem 0 0;
  height: 100%;
  width: 1.5rem;
  position: relative;
  flex: 1 1;
}

.maps .links .link .image .inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.maps .links .link .image .inner img {
  width: 1rem;
  height: 1rem;
}

.maps .links .link .vendor {
  flex: 6 1;
}

.maps .links .divider {
  flex: 0 1;
  width: 1px;
  padding: 0.7rem 0;
}

.maps .links .divider .stroke {
  width: 1px;
  background: #00000010;
  height: 100%;
}

input[type="button"] {
  background: white;
  outline: none;
  border: 1px solid #00000018;
  color: #000000a0;
  box-shadow: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.8rem;
  font: inherit;
  font-size: 0.875rem;
  cursor: pointer;
}

.information {
  text-align: left;
  margin: 0 0 6rem 0;
}

.information .container {
  margin: 0 0 3rem 0;
}

.information .container .subtitle {
  font-size: 1.1rem;
  background: -webkit-linear-gradient(left, #B08E82, #E5CACC);
  background: -o-linear-gradient(right, #B08E82, #E5CACC);
  background: -moz-linear-gradient(right, #B08E82, #E5CACC);
  background: linear-gradient(to right, #B08E82, #E5CACC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.information .container .item {
  font-size: 1rem;
  padding: 0;
  margin: 0.5rem 0;
}
.information .container .item .inner {
  font-size: 0.875rem;
  color: #00000080;
  line-height: 2.5rem;
  padding: 0;
}

.appendix {
  margin: 0 0 3rem 0;
}

.tail {
  color: #00000060;
}

audio {
  display: none;
  visibility: hidden;
}

.audio-controller {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  font-size: 0.875rem;
  color: #00000050;
  background: #ffffff50;
  border-radius: 50%;
  
  box-shadow: 0 0 5px #00000050;
  z-index: 10;

  width: 2.3rem;
  height: 2.3rem;

  display: flex;
  justify-content: center;
}

.audio-controller .inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a, a:visited {
  color: #B08E82e0;
}

.phone {
  margin: 0.4rem;
}

.phone a {
  color: #B08E82e0;
  text-decoration: none;
}

.phone i {
  font-size: 0.875em;
}

.share-to-kakao {
  margin: 0 1rem 0 0;
}