@import "~@flaticon/flaticon-uicons/css/solid/all";

html {
  font: 16px arial;
}

.main .intro {
  margin: 0;
  padding: 0;
}

.main .intro .image {
  width: 100%;
}

.main .context {
  text-align: center;
  padding: 3rem;
}

.image-intro {
  height: 40vmin;
  pointer-events: none;
}

.category {
  font-size: 1.5rem;
  font-weight: 400;
  background: -webkit-linear-gradient(left, #B08E82, #E5CACC);
  background: -o-linear-gradient(right, #B08E82, #E5CACC);
  background: -moz-linear-gradient(right, #B08E82, #E5CACC);
  background: linear-gradient(to right, #B08E82, #E5CACC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin: 3rem 0 3rem 0;
}

.quote {
  margin: 0 0 3rem 0;
  color: #00000090;
  font-style: italic;
}

.invitation {
  margin: 0 0 3rem 0;
}

.parents {
  display: flex;
  justify-content: center;
}

.parents table {
  text-align: left;
}

.parents table tr td {
  padding: 0.4rem 0.6rem;
}

.parents small {
  margin: 0 0.3rem;
}

.button {
  margin: 0 0 3rem 0;
}

.schedule {
  margin: 0 0 3rem 0;
}

.maps {
  margin: 0 0 3rem 0;
}

.maps .image {
  width: 100%;
}

.information {
  text-align: left;
}

.information .container {
  margin: 0 0 3rem 0;
}

.information .container .subtitle {
  font-size: 1.25rem;
  background: -webkit-linear-gradient(left, #B08E82, #E5CACC);
  background: -o-linear-gradient(right, #B08E82, #E5CACC);
  background: -moz-linear-gradient(right, #B08E82, #E5CACC);
  background: linear-gradient(to right, #B08E82, #E5CACC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.information .container .item {
  padding: 0 0 0 1rem;
}
.information .container .item .inner {
  font-size: 0.875rem;
  color: #00000060;
  padding: 0.2rem 0 0 0;
}

.appendix {
  margin: 0 0 3rem 0;
}

.tail {
  color: #00000060;
}

audio {
  display: none;
  visibility: hidden;
}

.audio-controller {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  font-size: 1.3rem;
  color: #000000d0;
  background: #ffffffa0;
  border-radius: 0.5rem;
  padding: 0.4rem 0.5rem;
  box-shadow: 0 0 5px #000000a0;
}